{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <h1>Artiste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artiste.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ artiste.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ artiste.firstname }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ artiste.birthdate ? artiste.birthdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ artiste.imagename }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ artiste.updateAt ? artiste.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_artiste_index') }}">back to list</a>

    <a href="{{ path('app_artiste_edit', {'id': artiste.id}) }}">edit</a>

    {{ include('artiste/_delete_form.html.twig') }}
{% endblock %}
