{% extends 'base.html.twig' %}

{% block title %}Nos artistes{% endblock %}

{% block body %}
<h2 class="py-5">
    Nos artistes
</h2>
<div class="count">
    Nombre d'artistes : {{ pagination.getTotalItemCount}}
</div>

<div class="d-flex flex-wrap justify-content-between mt-3">
    {% for artiste in pagination %}
        <div>
            <a href="{{ path('front_artiste', {'id': artiste.id})}}">
           <img src="{{ asset('images/artiste/' ~ artiste.imageName)| imagine_filter('poster')}}" alt="{{artiste.imageName}}">
           <p>{{artiste.firstname}} {{ artiste.lastname}}</p>
           </a>
        </div>
    {% endfor %}
</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}