{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
    <h1>Home</h1>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="py-5">Nos 5 derniers artistes</h2>
    <div class="d-flex flex-wrap justify-content-around">
        {% for artiste in artistes %}
            <div class="me-4">
                <img src="{{ asset('images/artiste/' ~ artiste.imageName)| imagine_filter('poster')}}" alt="">
                <p class>{{ artiste.firstname}} {{ artiste.lastname| upper}}</p>
            </div>
        {% endfor %}
    </div>

    <h2 class="py-5">Nos 5 derniers films</h2>
    <div class="d-flex flex-wrap justify-content-around">
        {% for movie in movies %}
            <div class="me-4">
            <a href="{{path('front_movie', {'id' : movie.id})}}">
                <img src="{{ asset('images/movies/' ~ movie.imageName)| imagine_filter('poster')}}" alt="">
                <p class>{{ movie.title}}</p>
            </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}