{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="py-5">{{ movie.title }}</h2>
    <div class="d-flex">
        <div class="col-6">
            <img src="{{ asset('images/movies/' ~ movie.imageName)| imagine_filter('poster')}}" alt="{{movie.imageName}}">
        </div>
        <div class="col-6">
            <p>{{movie.description}}</p>
        </div>
    </div>
    <h3 class="py-5">Réalisateur</h3>
    <div>
        <a href="{{path('front_artiste', {'id': movie.realisator.id})}}">
         <img src="{{ asset('images/artiste/' ~ movie.realisator.imageName)| imagine_filter('poster')}}" alt="{{movie.realisator.imageName}}">
         <p>{{ movie.realisator.firstname}} {{ movie.realisator.lastname}}</p>
         </a>
    </div>
    <h3 class="py-5">Acteurs</h3>
    <div class="d-flex flex-wrap justify-content-around">
        {% for acteur in movie.actors %}
            <div>
                <a href="{{path('front_artiste', {'id': acteur.id})}}">
                    <img src="{{ asset('images/artiste/' ~ acteur.imageName)| imagine_filter('poster')}}" alt="{{acteur.imageName}}">
                    <p>{{acteur.firstname}} {{ acteur.lastname}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}