{% extends 'base.html.twig' %}

{% block title %}Nos films{% endblock %}

{% block body %}
<h2 class="py-5">
    Nos films
</h2>
<div class="count">
    Nombre de films : {{ pagination.getTotalItemCount}}
</div>

<div class="d-flex flex-wrap justify-content-between mt-3">
    {% for movie in pagination %}
        <div>
        <a href="{{path('front_movie', {'id': movie.id})}}">
           <img src="{{ asset('images/movies/' ~ movie.imageName)| imagine_filter('poster')}}" alt="{{movie.imageName}}">
           <p>{{movie.title}}</p>
        </a>
        </div>
    {% endfor %}
</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}